APP_KEY=your_app_key
OPENAI_API_KEY=your_openai_api_key
OPENAI_ORGANIZATION=your_openai_organization
OPENAI_PROJECT=your_openai_project
KV_ADMIN_KEY=your_kv_admin_key
#RATE_LIMIT_WINDOW_SIZE=60000
#RATE_LIMIT_MAX_REQUESTS=250
#RATE_LIMIT_MAX_BLOCKED_TIME=1800000
#RATE_LIMIT_BLOCK_THRESHOLD=5
#RATE_LIMIT_CLEANUP_INTERVAL=300000
#DISABLE_BROTLI=false
#DISABLE_GZIP=false
#HTTPS_REDIRECT_ENABLED=true
#HTTPS_REDIRECT_PERMANENT=true
#SESSION_EXPIRES=2592000000
#SESSION_HTTP_ONLY=true
#SESSION_PATH=/
#SESSION_SAME_SITE=Strict
#SESSION_SECURE=true
#ALLOWED_ORIGINS=
DENO_ENV=development
